li {
	list-style-type: none;
	margin-bottom: 7px;
}

.active-true {
	text-decoration: line-through;
	color: gray;
}

.itemChecker {
	display: none;
}

.itemLink {
	padding: 1px 3px 1px 5px;
}

.itemTitle {
	padding: 2px 7px 1px 2px;
}
