<div ng:controller="ItemCtrl">
	<form action="/service/item.cfc?method=save" method="get" ng:submit="addItem()">
		<input name="ID" type="text" value="{{item.ID}}">
		<input name="Active" type="text" value="{{item.Active}}">
		<input type="text" name="noteText" placeholder="enter note here" size="33" value="{{item.Note}}">
		<input type="text" name="URLtext" placeholder="enter URL here" size="44" value="{{item.URL}}">
		<input type="submit" value="add"><br>
		<span>{{remaining()}} remaining</span>
		<input type="button" ng:click="removeActive()" value="clean up">
	</form>

	<ul>
		<li ng:repeat="item in items">
			<input name="ID" type="hidden" value="{{item.ID}}">
			<input class="ui-corner-left ui-widget-content itemChecker" name="item.Active" type="checkbox">
			<span class="ui-corner-tl ui-state-default itemTitle" ng:class="'active-' + item.Active">
				<a ng:click="item.Active = !item.Active">{{item.Note}}</a>
			</span>
			<br>
			<span class="ui-corner-br ui-widget-content itemLink" ng:class="'active-' + item.Active">
				<a href="{{item.URL}}" target="_blank">{{item.URL}}</a>
			</span>
		</li>
	</ul>
</div>
